@CHARSET "UTF-8";

body
{
	background-color: white;
	background-image: url('../img/background.png');
	background-repeat:repeat-x;
	background-position:left top;
	font-family:Arial,sans-serif;
}

div#page
{
	width: 900px;
	margin: 0px auto;
}

div#header{
	height:240px;
	background-image: url('../img/kobo_logo.jpg');
	background-repeat:no-repeat;
	background-position:left top;
}

/************************************************************
						User Menu
*************************************************************/
div#userMenu{
	float:right;
}

div#userMenu ul {
	list-style:none;
}

div#userMenu ul li{
	float: left;
	padding: 4px 6px;
	border-right: solid 1px black;
	position:relative;
}

div#userMenu ul li a, div#userMenu ul li a:visited{
	color: black;
	text-decoration: none;
}

div#userMenu ul li a:hover{
	text-decoration: underline;
}

div#userMenu ul li a.helplink{
	background:#00bb17;
	color:white;
	padding: 3px;	
	box-shadow: 2px 2px 5px #888888;
}

div#userMenu ul li.loginMenu a
{
	background:#64add8;
	background-image: url('../img/userDropDown.png');
	background-repeat:no-repeat;
	background-position: right center;
	padding: 3px;
	padding-right:25px;
	color:white;	
	box-shadow: 2px 2px 5px #888888;
}
div#userMenu ul li.loginMenu
{
	border:none;
}

div#userMenu ul li ul{
	list-style:none;
    position:absolute;
    left:-9999px;    
}

div#userMenu ul li ul li{
	float:none;
	background:#64add8;
	border: none;
	}
div#userMenu ul li.loginMenu ul li a{
	background: #64add8;
	box-shadow: none;	
	}
	
div#userMenu ul li:hover ul{ 
    left:6px; 
}


/************************************************************
							Main Menu
*************************************************************/
div#mainMenu
{
	top: 138px;
	position: absolute;
	height:32px;
}
#mainMenu ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}
#mainMenu li{
	
	float:left;
	margin-right: 20px;
}

#mainMenu li a
{
	font-size: 18px;
	color: white;
	background: #6e6e6e;
	padding:10px;
	text-decoration:none;
	
	
	border-top-right-radius:7px;
	border-top-left-radius:7px;
	box-shadow: 2px 2px 5px #888888;
}

#mainMenu li.selected a{	
	background: #9a9a9a;
	color:black;
}

#mainMenu li a:hover
{
		
	box-shadow: none;
	top:2px;
	right:-2px;
	position:relative;
}


/************************************************************
							Sub Menu
*************************************************************/


div#subMenu
{
	width:900px;
	top: 168px;
	position: absolute;
	height:80px;
	background-image: url('../img/submenu_background')
}
#subMenu ul
{
	list-style:none;
	margin:0px;
	padding:25px 0px 0px 0px;
}
#subMenu li{
	
	float:left;
	margin-right: 20px;
}

#subMenu li a
{
	font-size: 14pt;
	color: black;
	background: none;
	padding:10px;
	text-decoration:none;

}


#subMenu li a:hover
{
	color: #666;
	text-decoration:none;

}

/************************************************************
							Tables
*************************************************************/
table{
	border-collapse:collapse;
}


table.list_table
{
	width:900px;
	border: solid 1px #848484; 
}

table.list_table tbody
{
	display: block;
	height: 500px;
	overflow-y: scroll;
	width: 100%;	
}
table.list_table thead{
	
}

table.list_table tr td, table.list_table tr th{
	border: solid 1px #848484;
	padding-left:10px;
	text-align: left;
	
}

table.list_table thead tr{
	display:block;
	position:relative;
}

table.list_table tbody tr{
	height:50px;
}

table.list_table tr th{
	background:#d6d7d6;
	padding-top:10px;
	padding-bottom:10px;
	height:20px;
}

table.list_table tr td.selectColumn, table tr th.selectColumn
{
	width:60px;
	text-align:center;
}
table.list_table tr th.lastColumn
{
	width:60px
	text-align:center;
}
table.list_table tr td.lastColumn{
	width:33px;
	text-align:center;
}
table.list_table tr td.mapName, table tr th.mapName
{
	width:445px;
}
table.list_table tr td.mapTasks, table tr th.mapTasks
{
	width:300px;
}

table.list_table tr.odd_row td{
	background: #ececec;
}



/************************************************************
						Specify data table
*************************************************************/
div.data_specify_div
{
	width:980px;
	height:200px;
	overflow:scroll;
	border: solid 3px black;
	padding:10px;
}

table.data_specify_table{
	border-collapse:collapse;	
}

table.data_specify_table tr td{
	border: solid 1px #888;
	}
	
table.data_specify_table tr th.header{
	border: solid 1px #888;
	}

table.data_specify_table tr td.header{
	text-align:center;
	font-weight:bold;	
	}
	
ul.context_menu{
	float:right;
	list-style-type: none;
}

.navback{
	float:left;
}

.navforward{
	float:right;
}

.mapWLoading{
	position:relative;
	width:1000px; 
	height:400px;	
}

.mapWLoading div#map_div{
	position:absolute;
	width:1000px; 
	height:400px;
	top:0px;
	left:0px	
}

.mapWLoading #map_loading{
	display:none; 
	background:rgba(125, 125, 125, .5); 
	z-index:100; 
	background-image:url('../img/waiter_barber.gif');
	background-position:center; 
	background-repeat:no-repeat;
	position:absolute;
	width:1000px; 
	height:400px;
	top:0px;
	left:0px	
}

.errors{
	background:red;
}


#googleFileListHolder{
	max-height:300px;
	overflow: scroll;
}

a, a:visited, a:link{
	color:blue;
}

select.needstobemapped{
	border: 3px solid #FF9900;
}


/************************************************************
							inputs
*************************************************************/
input[type="text"], input[type="password"]{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding:5px;
	border: solid 2px #9a9a9a;
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

input[type="text"]:focus, input[type="password"]:focus{
	
    box-shadow: 0 0 5px rgba(0, 0, 255, 1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, 1); 
}


/************************************************************
							Apple layer
*************************************************************/
	/* the overlayed element */
.apple_overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	/* growing background image */
	background-image:url(../img/white.png);
	
	/* 
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:640px;		
	
	/* some padding to layout nested elements nicely  */
	padding:35px;

}

/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../img/close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}

	#overlay {
		background-image:url(../img/transparent.png);
		color:#efefef;
		height:450px;
	}
	
	/* container for external content. uses vertical scrollbar, if needed */
	div.contentWrap {
		height:441px;
		overflow-y:auto;
	}

