/*******************************
   Template preview page
 ******************************/

#waiting{
	background:url(../img/loading.gif) no-repeat scroll;
	width:20px;
	height:20px;
	margin:0 auto;
}
#map_canvas {
	width: 100%; 
	height: 100%; 
	min-height: 555px;
	 min-width: 500px;
	  position: relative;
} /* Fills the entire page */


/* resizing stuff*/
/* Apply the element you wanto drag/resize */
.drsElement {
 position: absolute;
}

/*
 The main mouse handle that moves the whole element.
 You can apply to the same tag as drsElement if you want.
*/
.drsMoveHandle {
 cursor: move;
}

.dragresize {
 display:none;
 position: absolute;
 width: 5px;
 height: 5px;
 font-size: 1px;
 background: #EEE;
 border: 1px solid #333;
}

/*Map labels*/
.countylabel, .areaVal{
	text-align:center;
	position:relative;
	z-index:999;
	white-space:
	nowrap;
	color:#FFF;
	font-weight:bold;
	text-shadow:0 0 2px #000;
}
.countylabel {
	left:-50%;
	font-size:10px;
}
.areaVal {
	font-size:14px;
	display:block;
	height:13px;
	font-family:Tahoma,sans-serif;
}
